body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background-color 0.5s ease; 
  background-image: url('../src/back1.jpg');
  background-size: cover;
  background-position: center; 
}
#quote-box {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(247, 165, 229, 0.7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
  max-width: calc(100vw - 10%);
  margin: 0 auto; /* Center the box horizontally */
}


#text {
  font-family: 'Lora', serif;
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #333;
}

#author {
  font-size: 1.2em;
  color: #555;
}

#new-quote {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease; 
}

#new-quote:hover {
  background-color: #2980b9;
}

#tweet-quote {
  display: block;
  background-color: #55acee;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1em;
  margin-top: 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease; 
}

#tweet-quote:hover {
  background-color: #4499dd;
}